{% load static %}
<header class="section-header">
<section class="header-main border-bottom">
	<div class="container" style="height:100%;">
		<div class="row align-items-center">
			<div class="col-xl-2 col-lg-3 col-md-12">
				<a href="">
					<img class="logo icon icon-md rounded-circle" src="{% static 'images/logo.png' %}">
				</a> <!-- brand-wrap.// -->
			</div>
			<div class="col-xl-6 col-lg-5 col-md-6">
	<form action="#" class="text-center search-header">
		<div class="input-group w-100">
			<select class="custom-select" style="width:18%" name="category_name">
				<option value="">All</option>
				<option value="codex">Specials</option>
				<option value="comments">Best Sellers</option>
				<option value="content">Latest</option>
			</select>
			<input type="text" class="form-control" style="width: 57%" placeholder="Search">
			<div class="input-group-append" style="width: 25%">
				<button class="btn btn-primary btn-block" type="submit">
					<i class="fa fa-search"></i> Search
				</button>
			</div>
		</div>
	</form> <!-- search-wrap .end// -->
			</div> <!-- col.// -->
			<br><br><br>
			<div class="col-xl-4 col-lg-4 col-md-6">
			<div class="widgets-wrap float-md-right">
			<div class="widget-header  mr-3">
				<a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
				<span class="badge badge-pill badge-danger notify">0</span>
			</div>
			<div class="widget-header icontext">
				<a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
				<div class="text">
					<span class="text-muted">Welcome!</span>
					<div> 
						<a href="#">Sign in</a> |  
						<a href="#"> Register</a>
					</div>
				</div>
			</div>

		</div>
			<!-- widgets-wrap.// -->
			</div> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->

